*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(231, 235, 236);
}

.gap-20{
    gap: 20px;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

h1{
    padding:10px 0;
    text-align: center;
    text-transform: uppercase;
}

.available{
    margin-top: 20px;
    font-weight: bold;
}

.available input{
    font-weight: bold;
}


.container{
    margin-top: 50px;
}

.rps-btns img{
    height: 200px;
}

button{
    cursor: pointer;
}

.rps-btns button{
    border: 10px ridge lightblue;
    transition: all 0.2s linear;
    border-radius: 10px;
}
.rps-btns button:hover{
    transform: translateY(-10px);
    box-shadow: 4px 4px 10px 1px gray;
}
.rps-btns button:active{
    transform: scale(0.98);
    box-shadow: none;
}

.scores{
    font-size: 20px;
    margin-top: 50px;
}

.scores input , .display-choices input, .available input{
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    background-color: lightblue;
    border: none;
}

.display-choices{
    margin-top: 50px;
}

.display-choices input{
    background-color: rgb(46, 182, 228);
}

.reset{
    margin-top: 50px;
}

.reset span{
    background-color: red;
    padding: 20px;
    color: white;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.reset span:hover{
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0px 0px 10px 5px gray;
}
.reset span:active{
    transform: scale(0.98);
    box-shadow: none;
}

.reset p{
    font-weight: bold;
}